För G:
1. Ladda ner ett eller flera dataset som visar GDP, GDP per capita och förväntad livslängd.
2. Visa hur förväntad livslängd och GDP per capita hänger ihop. Välj själv och motivera hur detta ska visualiseras.
3. Resonera kortfattat om resultaten verkar rimliga och fundera på om det finns någon orsak bakom ditt resultat.

Svara nu på dessa frågor:
4. Gjorde du någon Data Cleaning? Förklara vad du har gjort och motivera detta.
5. Vilka länder har förväntad livslängd en standardavvikelse över medelvärdet?
6. Vilka länder har hög förväntad livslängd men låg GDP/GDP per capita?
7. Har varje stor ekonomi (GDP) lång förväntad livslängd?
8. Om du ändrar definitionen av en stor ekonomi till GDP per capita. Hur förändras resultatet då? Diskutera kort resultatet i 7 och 8.

In [150]:
import pandas as pd 

gdp_data = pd.read_csv("gdp.csv")
gdp_per_capita_data = pd.read_csv("gdp_per_capita.csv")
life_expectancy_data = pd.read_csv("Life-Expectancy-Data-Updated.csv")

In [154]:
df_gdp = gdp_data.drop(gdp_data.loc[:, '1960' : '2011'].columns, axis=1)
df_gdp = df_gdp.drop(df_gdp.loc[:, '2016' : 'Unnamed: 65'].columns, axis=1)

df_capita = gdp_per_capita_data.drop(gdp_per_capita_data.loc[:, '1960' : '2011'].columns, axis=1)
df_capita = df_capita.drop(df_capita.loc[:, '2016' : 'Unnamed: 65'].columns, axis=1)

df_capita = df_capita.drop(["Code"], axis = 1)

df_life = life_expectancy_data.drop(life_expectancy_data[life_expectancy_data.Year < 2012].index)

# df_life.drop(df_life.iloc[:, 3:20],axis= 1, inplace= True)
df_life = df_life.loc[:, ["Country","Year", "Life_expectancy"]]



df_capita

,Country Name,2012,2013,2014,2015
0,Aruba,24712.493263,26441.619936,26893.011506,28396.908423
1,Africa Eastern and Southern,1736.166560,1713.899299,1703.596298,1549.037940
2,Afghanistan,638.845852,624.315455,614.223342,556.007221
3,Africa Western and Central,1965.118485,2157.481149,2212.853135,1894.310195
4,Angola,5100.097027,5254.881126,5408.411700,4166.979833
...,...,...,...,...,...
261,Kosovo,3410.859780,3704.784221,3902.676013,3520.766449
262,"Yemen, Rep.",1446.536472,1607.152173,1674.002572,1601.830063
263,South Africa,8222.197279,7467.079185,6988.808739,6259.839681
264,Zambia,1763.069442,1878.346811,1762.427817,1338.290927
265,Zimbabwe,1304.968011,1429.998461,1434.896277,1445.069702

In [152]:

df_gdp = df_gdp.dropna(axis= 0, thresh = 6) 

df_capita = df_capita.dropna(axis = 0 , thresh = 6)

In [156]:
joined = pd.concat([df_capita,df_life ], axis= 1)
joined.groupby("Country Name")["Life_expectancy"].max().reset_index()

                    Country Name  Life_expectancy
0                    Afghanistan              NaN
1    Africa Eastern and Southern             82.8
2     Africa Western and Central              NaN
3                        Albania              NaN
4                        Algeria              NaN
..                           ...              ...
261           West Bank and Gaza              NaN
262                        World              NaN
263                  Yemen, Rep.             63.3
264                       Zambia              NaN
265                     Zimbabwe              NaN

[266 rows x 2 columns]